body {
    background-color: #ffffff;
    font-family: var(--main);
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: var(--bleu);
    transition-duration: 300ms;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: var(--secondary);
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}