body {
    background-color: #ffffff;
    font-family: var(--main);
}

a {
    text-decoration: none;
    color: var(--noir);
}

a:hover {
    color: var(--bleu);
    transition-duration: 300ms;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: var(--secondary);
    text-transform: uppercase;
}

h1 {
    font-size: var(--3xl);
}

h2 {
    font-size: var(--2xl);
    text-align: center;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#productPrice {
    color: var(--bleu);
    font-family: var(--secondary);
    font-size: var(--2xl);
}

#productDescription {
    max-width: 495px;
    line-height: 1.6;
    color: var(--gris);
}

#productImg {
    max-height: 490px;
}

.poduct--img-block {
    justify-content: center;
    display: grid;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: 300ms ease-in-out;
}

.poduct--img-block:hover {
    transform: skew(0deg, -10deg);
    transition: 300ms ease-in-out;
}

.product--block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
    padding: 20px;
    transition: 350ms ease-in-out;
}

.product--option-block {
    margin-top: 25px;
}

.product--label {
    font-size: var(--2xs);
    color: var(--gris);
}

.product--sell-block {
    max-width: 343px;
    margin-top: 35px;
}

@media (max-width: 768px) {
    h1 {
        font-size: var(--xl);
    }
    h2 {
        font-size: var(--lg);
    }
    #productPrice {
        font-size: var(--lg);
    }
    #productImg {
        max-height: 327px;
    }    
    .product--block {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 75px;
    }
}