.btn,
.btn-size,
.btn.selected,
.btn-size.selected,
.btn:hover,
.btn-size:hover,
.btn-white,
.btn-blue,
.quantity {
    background-color: var(--bleu);
    color: var(--blanc);
    padding : 8px;  
    padding-inline: 25px;  
    font-size: var(--sm);
    text-transform: uppercase;
    font-family: var(--main);
    border-radius: 45px;
    transition: all 0.3s ease-in-out;
}

.quantity {
    border: none;
    width: 100%;
    appearance: none;
    padding-inline: 0;
    text-align: center;
    font-size: var(--xl);
    font-family: var(--secondary);
}

.quantity:focus {
    outline: none;
}

.btn-size {
    padding-inline: 20px;
}

.btn,
.btn-size,
.btn-white,
.btn-blue:hover {
    background-color: var(--blanc);
    color: var(--bleu);
    border: 1px solid var(--bleu);
}

.btn-quantity, 
.quantity--block {
    color: var(--blanc);
    font-size: var(--2xl);
    font-family: var(--secondary);
    background-color: var(--bleu);
    padding-inline: 15px;
    transition: all 0.3s ease-in-out;
}

.quantity--block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    height: 46px;
    width: 129px;
    padding-inline: 5px;
    margin-top: 37px;
    margin-bottom: 39px;
}

.btn-white,
.btn-blue {
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    font-size: var(--base);
    font-family: var(--specific);
    font-weight: bold;
}

.btn-white:hover {
    background-color: var(--bleu);
    color: var(--blanc);
}

.btn-size,
.btn {
    margin-right: 8px;
}