footer {
    display: grid;
    padding-bottom: 60px;
    margin-top: 250px;
}

.footer--block {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    gap: 20px;
}

.footer--list-items {
    padding-bottom: 8px;
    padding-top: 8px;
}

.footer--credit {
    justify-self: center;
    margin-top: 110px;
    color: var(--gris);
    font-size: var(--3xs)
}

.footer--logo {
    justify-self: center;
}

@media (max-width: 768px) {
    footer {
        margin-top: 100px;
    }
    .footer--block {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        justify-items: center;
    }
    .footer--list {
        margin-top: 10px;
    }
    .footer--credit {
        margin-top: 40px;
    }
    .footer--logo {
       display: none;
    }
}

@media (min-width: 768px) {
    .footer--logo-mobile {
        display: none;
     }
}